<!DOCTYPE html>
<html> 
    <header class="heading"> 
        <h1><%= title %></h1>
        <% if(isUser) {%>
            <form action="/authorize">
                <button type="submit" class="account-button">PH</button>
            </form>
        <% } %> 
    </header>

    <head>
        <title><%= webTitle %></title>
        <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
	</head>