<%- include('./partials/header') %> 

    <body class="home"> 
        <div class="intro"> 
            <h1>Come Join the Fun!</h1>
        </div>

        <div class="login-button"> 
            <form action="/authorize">
                <input type="submit" id="login/signup" value="Login/Signup"> 
            </form>
        </div>
    </body>
</html>