/*Styles the heading and body background for each page */
.heading { 
    font: 10px; 
    display: flex; 
    flex-direction: column; 
    text-align: center;
    font-weight: bold;

    background-color: black;
    color:white;
}

html {
    height:100%;
}

body { 
    height: 100%;
    background-color: #004aad;
    background-image: linear-gradient(to right, #004aad, #cb6ce6);
}

.account-button{
    height: 5em;
    width: 5em;
    border-radius: 50%;

    position: absolute;
    top:1em;
    right:1em;
}

/*Style for the "Come Join the Fun!" intro on the home page
when the user is not logged in*/
.intro { 
    font: 15px; 
    display: flex; 
    flex-direction: column; 
    text-align: center;
    font-weight: bold;

    margin-top: 50px;
}

/*NOTE: REMOVE WHEN WE GET RID OF DUMMY LOGIN PAGE
Styles the login buttons on the dummy login page*/
.login-button{ 
    text-align: center; 
}

.login-button input{ 
    font-size: 25px; 
    padding: 10px;
    border-radius: 8px;

    background-color: #24d152;
}


/*Styles the three options on the home page when logged in*/ 
.game-options { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 7em;
}

/*Set size and position of the three options*/
.game-options button{ 
    text-align: top;
    
    max-height: 20em;
    max-width: 15em;

    margin: 1em;
    padding-bottom: 20em;
}

/*Pushes all text to the top*/
button div{ 
    position: relative;
}
/*Pushes the description closer to the center*/
.game-options div{
    margin-bottom: 3em;
}

/*Styles the title of each option*/
.game-options .option-title{ 
    color: white;
    font-weight: bold;
    font-size: 1.5em;


    background-color: black;
    border-radius: 1.5em;
}

/* .game-options #... to set the colors for each option */
.game-options #leaderboard{ 
    background-color: red;
    font-size: 1.5em;
    border-radius: 1.5em;
}

.game-options #game{ 
    background-color: green;
    font-size: 1.5em;
    border-radius: 1.5em;
}

.game-options #character{
    background-color: yellow;
    font-size: 1.5em;
    border-radius: 1.5em;
}

.tasks{
    text-align: center;
}

#task-options{
    width: 80%;
    font-size: 2em;

    text-align: center;

    margin-top: 0.5em;
    background-color: grey;
}

.info-section{
    height: 50%;
    width: 100%;
    display: flex;
}

div.character-groups{
    width: 70%;
    height: 100%;
}

h3.score{
    left:2em;
}

div.character{
    display: flex;
}

div.leader-section{
    width:30%;

}

.group{ 
    width: 50%;
    height: 20%;
    text-align: left;

    background-color: #38b6ff;
    border-color: black;
    border-width: .3em;
    border-radius: .5em;
    display:block;
    position: relative;

    margin: 1.5em;
}

.group h2{
   display: block;
   position:absolute;
   top:0em;
}

.group h3{
    display: block;
    position:relative;
    top:1em;
}

.leaderboard-section{
    background-color: red;

    width: 50%;
    height: 50%;

    padding: .5em;
    margin: 1.5em;
    border-color: black;
    border-width: .3em;
    border-radius: .5em;
}

.game-to-leaderboard{
    margin-top: 2em;
    text-align: center;
}

#leaderboard{
    background-color: grey;
    font-size: 1em;

    border-color: black;
    border-width: .2em;
    border-radius: .5em;
}

.info h2{
    display: block;
    position: relative;
    text-align: center;
}

.assign-task{
    position: relative;
    text-align: center;
}

#assign-task-button{
    background-color: grey;
    font-size: 1.5em;

    border-color: black;
    border-width: .2em;
    border-radius: .5em;
}