/*Styles the heading and body background for each page */
.heading { 
    font: 10px; 
    display: flex; 
    flex-direction: column; 
    text-align: center;
    font-weight: bold;
    background-color: black;
    color:white;
    padding: 16px;
}

body { 
    background-color: #004aad;
    background-image: linear-gradient(to right, #004aad, #cb6ce6);
}

.account-button{
    height: 5em;
    width: 5em;
    border-radius: 50%;

    position: absolute;
    top:1em;
    right:1em;
}

/*Style for the "Come Join the Fun!" intro on the home page
when the user is not logged in*/
.intro { 
    font: 15px; 
    display: flex; 
    flex-direction: column; 
    text-align: center;
    font-weight: bold;

    margin-top: 50px;
}

/*NOTE: REMOVE WHEN WE GET RID OF DUMMY LOGIN PAGE
Styles the login buttons on the dummy login page*/
.login-button{ 
    text-align: center; 
}

.login-button input{ 
    font-size: 25px; 
    padding: 10px;
    border-radius: 8px;

    background-color: #24d152;
}


/*Styles the three options on the home page when logged in*/ 
.game-options { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 7em;
}

/*Set size and position of the three options*/
.game-options button{ 
    text-align: top;
    
    max-height: 20em;
    max-width: 15em;

    margin: 1em;
    padding-bottom: 20em;
}

/*Pushes all text to the top*/
button div{ 
    position: relative;
}
/*Pushes the description closer to the center*/
.game-options div{
    margin-bottom: 3em;
}

/*Styles the title of each option*/
.game-options .option-title{ 
    color: white;
    font-weight: bold;
    font-size: 1.5em;


    background-color: black;
}

/* .game-options #... to set the colors for each option */
.game-options #leaderboard{ 
    background-color: red;
    font-size: 1.5em;
}

.game-options #game{ 
    background-color: green;
    font-size: 1.5em;
}

.game-options #character{
    background-color: yellow;
    font-size: 1.5em;
}





/* Style for buttons in authorize */
.dummy-login-button{ 
    text-align: center;
}

.dummy-login-button button{ 
    margin-top: 25%;

    font-size: 30px;
}

.dummy-login-button #logoff{ 
    background-color: red;
}

.dummy-login-button #login{ 
    background-color: blue;
}

/*Navigation bar styling*/
.header-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.main-nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-nav li{
    padding: 0 24px;
    text-align: center;
}

.main-nav a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

.main-nav a:hover{
    color: #cb6ce6;
}